include LICENSE-BSD README.md requirements.txt src/libparser.c
recursive-include rux/res *
recursive-exclude rux .*.swp
recursive-exclude rux .*.swo
recursive-exclude venv *
recursive-exclude dist *
recursive-exclude build *
recursive-exclude rux.egg-info *
recursive-exclude rux/res/clr/.sass-cache *
recursive-exclude rux/res/default/.sass-cache *
