@import base

.post
  margin-top: 45px

.date
  float: left
  width: 120px

.post-box
  margin-left: 140px
  .title
    +ofl-font(23px)
  .read-more
    +ofl-font(14px)
    text-align: right
    font-style: italic

.paging
  text-align: right
  font-size: 27px
  font-weight: bold
  a.prev
    float: left
