{% extends "layout.html" %}
{% block title %} About | {{blog.name}}{% endblock%}
{% block  css_this_page %}about.css{% endblock %}
{% block content %}
  <p class="title">About</p>
  <div class="author">
    <div>
      <img class="avatar" alt="{{author.name}}" width="200" height="200" src="https://secure.gravatar.com/avatar/{{author.gravatar}}?s=200"/>
      <p>Name: {{author.name}}</p>
      <p>Email: <a href="mailto:{{author.email}}">{{author.email.replace("@", "#")}}</a></p>
    </div>
  </div>
  <div class="cut">* * *</div>
  <div class="post-html">
    {{about.html}}
  </div>
{% endblock %}
