<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{%block meta_description%}{{blog.description}}{%endblock%}" />
    <title>{%block title%}{{blog.title}}{%endblock%}</title>
    <link rel="stylesheet" href="/{{blog.theme}}/static/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/{{blog.theme}}/static/css/{%block css_this_page%}{%endblock%}" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><a href="/">{{blog.name}}</a></h1>
        <h2>{{blog.description}}</h2>
        <p class="nav separator ">
        <span>
          <a href="/">Index</a>
        </span>
        </p>
      </div>
      <p class="flourish">
      <img src="/{{blog.theme}}/static/images/flourish.svg" height="60px">
      </p>
      <div class="content">
        {%block content%}
        {%endblock%}
      </div>
      <div class="footer-push"></div>
    </div>
    <div class="cut">* * *</div>
    <div class="footer">
      Copyright © 2013 | Contact - 
      <a href="mailto:{{author.email}}">{{author.name}}</a> |
      Site built by <a href="https://github.com/hit9/ru">hit9/ru.git</a>
    </div>
  </body>
</html>
